<!DOCTYPE html>
<html>
<head>
    <title>MindCare AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="chat-container">

    <div class="header">
        <h1>MindCare AI</h1>
        <p>Your mental health support companion</p>
    </div>

    <div id="chat-box" class="chat-box">

        <div class="bot-message">
            Hello 👋 How are you feeling today?
        </div>

    </div>

    <div class="input-container">
        <input
            type="text"
            id="message-input"
            placeholder="Type your message..."
        >

        <button id="send-btn">
            Send
        </button>
    </div>

    <!-- <button onclick="logout()" style="float:right;background:white;color:#4f46e5;border:none;padding:8px 12px;border-radius:8px;">
        Logout
    </button> -->

</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/static/js/auth.js"></script>
<script src="/static/js/chat.js"></script>

</body>
</html>